.header{
    flex : 1;
    /* border: 1px solid white; */
    text-align: center;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
 

}

.header-title{
    font-size: 60px;
    /* border: 1px solid white; */
}

.blue{
    color: rgb(166, 166, 247)
}

.header > p{
    font-size: 16px;
    /* border: 1px solid white; */
    margin-bottom: 10%;
}



.header-cta{
    width: fit-content;
    display: flex;
    text-decoration: none;
    text-align: center;
    background-color: #0554F2;
    color: #ffff;
    margin: auto;
    /* margin-top: 100px; */
    font-size: 16px;
    border-radius: 2px;
    text-align: center;
    padding: 15px 50px 15px 50px;
    transition:  all 0.3s;
}

.header-cta:hover{
    background-color: #0441bc;
    transform:  translateY(-10px);
}

@media screen and (max-width:600px){
    .header-title{
        font-size: 30px;
        /* border: 1px solid white; */
    }

    .header-cta{
        font-size:13px    
    }
}