@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Montserrat:wght@400;700&display=swap');

.App {
  font-family: 'Montserrat', sans-serif;
  background-color: #161e2d;
  color: #ffffff;
  overflow: auto;
  height: 100vh;
}


.firstview{
  height: 100vh;
  /* border: 1px solid white; */
  max-height: 1200px;
  display: flex;
  flex-direction: column;
}

.section{
  width: 70%;
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  /* border: 1px solid white; */
}
